/* FONTS */
@font-face{
    font-family: 'NHaasGrotesk-Roman';
    src: url('fonts/NHaasGrotesk-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;   
}

@font-face{
    font-family: 'NHaasGrotesk-Medium';
    src: url('fonts/NHaas-Grotesk-Text-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: 'Cinzel';
    src: url('fonts/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
   font-family: 'Coconat';
    src: url('fonts/Coconat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
   font-family: 'HappyTimes';
    src: url('fonts/happy-times-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
   font-family: 'gap';
    src: url('fonts/GapSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
   font-family: 'PalmerGrotesque';
    src: url('fonts/PalmerGrotesque.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
   font-family: 'LeikoRegular';
    src: url('fonts/LeikoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

body {
    background-color: rgba(200, 200, 200);
    font-family:'NHaasGrotesk-Roman';
    margin: 0;
    display: flex;
    flex-direction: column;
    text-shadow: 0px 0px 0px ;  
    overflow-x: hidden;
}

p.layout_2 {
   width: 59%;
}
p.layout_3 {
    width: 59%;
    float: left;
    top:0;
    right: 0;
    position: relative;
}



/*open call*/


#open_call{
    background-color: rgba(200, 200, 200);
    
    height: 80%;
    width: 75vw;
    margin-top: 5%;
    margin-left: 12.5vw;
    position: fixed;
    z-index: 5;
    overflow: scroll;
    display: block;
/*     background-image:url(images/issues/thedigitalsublime.jpg);*/
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    -webkit-box-shadow: 15px 14px 20px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 15px 14px 20px -2px rgba(0,0,0,0.75);
box-shadow: 15px 14px 20px -2px rgba(0,0,0,0.75);
    border-radius: 15px;
    
   
    
}
#close_call{
    text-decoration: none;
    color: black;
    cursor: pointer;
    right: 0;
    margin-top: 1vh;
    margin-right: 13.5vw;
    float: right;
    font-size: 2em;
    position: fixed;
}

#close_call:hover{
    text-shadow:0px 0px 10px #000000;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

#submit:hover{
    color: black;
    text-decoration: none;
    -webkit-stroke-width: 3.75vmax;
    -webkit-stroke-color: black;
    -webkit-fill-color: black;
    text-shadow: 0px 0px 10px black;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

#submit{
    background-color: aqua;
    text-decoration: none;
    color: black;
    width: 25%;
    font-size: 1.5vw;
    bottom: 12vh;
    position: fixed;
    margin-left: 37.5%;
    margin-right: 37.5%;
    text-align: center;
    z-index: 6;
    
}





.call_screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 80vh;
    width: 75vw;
    
   
    
}
.call_title{
    font-size: 8vw;
    line-height: 8vw;
    cursor: default;
}
.call_subtitle{
    font-size: 1.5vw;
    line-height: 3vw;
    text-transform: uppercase;
    cursor: default;

}

.words{
    width: 18vw;
}



#arrow_call{
    width: 50vw;
    height: auto;
    float: right;
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    
}
img.arrow_call{
    width: 4%; 
    float: right; 
    height: auto;
}



.info_screen{
    width: 75vw;
    margin: 0;
    
}

.text_screen{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-top: 10vh;
    font-family: 'NHaasGrotesk-Roman';
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 2.5vh; 
    line-height: 3.2vh;
    
    
    
}
.text_minor{
    font-family: 'NHaasGrotesk-Roman';
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 2.5vh; 
    line-height: 3.2vh;
    margin-bottom: 15vh;
}







/* RIFE LOGOTIPO */

.rife {
    cursor: default;
    width: 28vw;
    margin-right: 34vw;
    margin-left: 38vw;
    position: fixed;
    z-index: 1;
    mix-blend-mode: multiply;
}

.rife2 {
    cursor: default;
    width: 40vw;
    margin-right: 30vw;
    margin-left: 30vw;
    position: fixed;
    z-index: 1;
    mix-blend-mode: multiply;
}

.rife3 {
    cursor: default;
    width: 26vw;
    margin-right: 40vw;
    margin-left: 36vw;
    position: fixed;
    z-index: 1;
    mix-blend-mode: multiply;
}

.rife4 {
    cursor: default;
    width: 34vw;
    margin-right: 41vw;
    margin-top: 1vh;
    margin-left: 33vw;
    position: fixed;
    z-index: 1;
    mix-blend-mode: multiply;
}
.rife5 {
    display: block;
    cursor: default;
    width: 34vw;
    margin-right: 41vw;
    margin-top: 1vh;
    margin-left: 33vw;
    position: fixed;
    z-index: 1;
    mix-blend-mode: multiply;
}
.rife5m {
    display: none;
    cursor: default;
    width: 34vw;
    margin-right: 41vw;
    margin-top: 1vh;
    margin-left: 33vw;
    position: fixed;
    z-index: 1;
    mix-blend-mode: multiply;
}
.rife6 {
    display: block;
    cursor: default;
    width: 40vw;
    margin-right: 30vw;
    margin-top: 2vh;
    margin-left: 30vw;
    position: fixed;
    z-index: 1;
    mix-blend-mode: multiply;
}

/* HEADER */

.header {
    width: 40%;
    margin-left: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    z-index: 2;
    margin-top: 1%;
    position: fixed;
    font-weight: 500;
    font-family:'NHaasGrotesk-Medium';
}
.header_m {
    font-family: 'NHaasGrotesk-Medium';
    display: none;
}

/* MENÚ SUBTITULO + BOTÃO EDITORIAL + BOTÃO ABOUT */

.subtitle_buttons {
    width: auto;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   
}

.subtitle_buttons_5 {
    width: auto;
    text-transform: uppercase;
    display: none;
    flex-direction: column;
    justify-content: flex-end;   
}

#header_info{
    width: auto;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    text-align: right;
    font-size: 3vh;
    margin-bottom: 2%;
    margin-right: 2vw;
    text-decoration: none;
    color: black;
    cursor: pointer;
    
}
#header_info:hover{
  text-shadow:0px 0px 10px #000000;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.subtitle, .buttons {
    width: auto;
}

.subtitle {
    text-align: right;
    font-size: 3vh;
    margin-bottom: 2%;
    margin-right: 1vw;
}
.subtitle_m {
    display: none;
}

.buttons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    float: right;
    font-size: 2.5vh;   
}

#editorial_button, #editorial_button_2, #about_button, #about_button_2, #close_button {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-right: 1vw;
}

#editorial_button, #about_button{
    display: flex;
}
#editorial_button_2, #about_button_2, #close_button{
    display: none;
}

#editorial_button:hover, #editorial_button_2:hover, #about_button:hover, #about_button_2:hover, #close_button:hover {
  text-shadow:0px 0px 10px #000000;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.blue_bar{
        background-color: #3e4a9a;
        height: 0vh;
        width: 0vw;
        position: fixed;
        margin-top: 92vh;
        display: none;
    }


/* CONTENT */

.content{
    
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;  
}
#content_2 {
    position: sticky;
    display: flex;
    width: 100vw;
    -webkit-box-shadow: 15px 14px 20px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 15px 14px 20px -2px rgba(0,0,0,0.75);
box-shadow: 0px -20px 30px -2px rgba(0,0,0,0.50);
    
    
}

/* LEFT SIDE */
#background{
    z-index: -1;
    width: 60%;
    height: 100vh;
    display: block;
    background-image:url(images/issues/innermostissue.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    opacity: 95%;
    transition: 1s;
}
#background_2{
    z-index: -1;
    width: 60%;
    height: 100%;
    display: block;
/*    background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    opacity: 95%;
    transition: 0s;
}

#background_5{
    z-index: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 92%;
    height: 100vh;
    position: fixed;
    transition: 1s;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
#preview_post_1, #preview_post_2, #preview_post_3, #preview_post_4, #preview_post_5, #preview_post_6, #preview_post_7, #preview_post_8{
    display: block;
    height: 50vh;
    background-color: rgb(200, 200, 200);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.preview_text {
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: 120%;
    display: flex;
    font-size: 1.7vw;
    align-items: flex-end;
    background: rgba(200,200,200,0.6);
    font-family: 'PalmerGrotesque';
}

#preview_text_name{
    font-family: 'NHaasGrotesk-Roman';
    line-height: 230%;
    font-size: 1.3vw
}

#preview_post_1:hover .preview_text, #preview_post_2:hover .preview_text, #preview_post_3:hover .preview_text,
#preview_post_4:hover .preview_text, #preview_post_5:hover .preview_text, #preview_post_6:hover .preview_text,
#preview_post_7:hover .preview_text, #preview_post_8:hover .preview_text, #preview_post_9:hover .preview_text{
    opacity: 1;
}


#preview_post_1{
    background-image:url(images/preview/preview1_5.jpg);
}
#preview_post_2{
    background-image:url(images/preview/preview2_5.jpg);
}
#preview_post_3{
    background-image:url(images/preview/preview3_5.jpg);
}
#preview_post_4{
    background-image:url(images/preview/preview4_5.jpg);
}
#preview_post_5{
    background-image:url(images/preview/preview5_5.jpg);
}
#preview_post_6{
    background-image:url(images/preview/preview6_5.jpg);
}
#preview_post_7{
    background-image:url(images/preview/preview7_5.jpg);
}
#preview_post_8{
    background-image:url(images/preview/preview8_5.jpg);
}

#left_side, #left_side2{
    display: flex;
    width: 60%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
       
    
}


#menu_issues {
    width: 100%;
    display: block;
    flex-direction: row;
    margin-top: 1%;
    margin-left: 1vw;
    font-size: 2.5vh;
    text-decoration: none;
    position: fixed;
    font-family: 'NHaasGrotesk-Medium';
    font-weight: 500;
    z-index: 1;
    
}


#menu_back,  #menu_back_5{
    width: 100%;
    display: none;
    flex-direction: row;
    margin-top: 1%;
    margin-left: 1%;
    font-size: 2.5vh;
    text-decoration: none;
    position: fixed;
    font-family: 'NHaasGrotesk-Medium';
    font-weight: 500; 
    z-index: 1;
}

.menu_posts {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 32vh;
}

.menu_posts_guest {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 86vh;
}

.menu_posts_guest4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 64vh;
}

.issue{
    text-decoration: none;
    margin-right: 0.75%;
    color: black;
    cursor: default;
    opacity: 50%;
}
a.issues, a.back{
    text-decoration: none;
    margin-right: 0.75%;
    color: black;
}

a.issues:hover, a.back:hover{
    color: black;
    text-decoration: none;
	-webkit-stroke-width: 3.75vmax;
      -webkit-stroke-color: #000000;
      -webkit-fill-color: #000000;
      text-shadow: 0px 0px 8px #000000;
    transition: all 0.2s ease-in;
    cursor: pointer;
}


a.issue_3{
    text-decoration: line-through;
    cursor: default;
}

div#arrow {
    width: auto; 
    height: auto; 
    position: relative; 
    right: 0;
}

img.arrow{
    position: relative; 
    width: 70%; 
    margin-bottom: 0.8vh;
    float: right; 
    height: auto;
}

#post_1, #post_2, #post_3, #post_4, #post_5, #post_6, #post_7, #post_8, #post_9, #post_10,
#post_1_B, #post_2_B, #post_3_B, #post_4_B{
    width: 96%;
    height: auto;
    font-family: 'Cinzel';
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: black;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 3%;
    margin-top: 2%;
    display: block;
    align-items: flex-start;
}

.title_date_1, .title_date_2, .title_date_3, .title_date_4, .title_date_5, .title_date_6, .title_date_7, .title_date_8,
.title_date_1_B, .title_date_2_B, .title_date_3_B, .title_date_4_B{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

a#post_1_link, a#post_2_link, a#post_3_link, a#post_4_link, a#post_5_link, a#post_6_link, a#post_7_link, a#post_8_link, a#post_9_link, a#post_10_link,
a#post_1_B_link, a#post_2_B_link, a#post_3_B_link, a#post_4_B_link{
    text-decoration: none;
    font-size: 3.3em;
    transition: all 0.2s ease-in;     
}

#post_2_link, #post_3_link, #post_4_link, #post_5_link, #post_link_6, #post_link_7, #post_link_8,
#post_2_B_link, #post_3_B_link, #post_4_B_link{
    width: 80%;
    line-height: 96%;
    cursor: pointer;       
}

#post_1_link, #post_1_B_link {
    width: 80%;
    line-height: 7vh; 
    margin-top: 1%;
    cursor: pointer;       
}


.post_1_link_1 {
    
    display: block;
  
}
.post_1_link_2 {
    display: none;
}

a.glow_1_1:hover, a.glow_1_2:hover, a.glow_1_3:hover, a.glow_1_4:hover, a.glow_1_5:hover, a.glow_1_6:hover, a.glow_1_7:hover, a.glow_1_8:hover,
a.glow_1_1_B:hover, a.glow_1_2_B:hover, a.glow_1_3_B:hover, a.glow_1_4_B:hover,
a.glow_2_1:hover, a.glow_2_2:hover, a.glow_2_3:hover, a.glow_2_4:hover, a.glow_2_5:hover, a.glow_2_6:hover, a.glow_2_7:hover, a.glow_2_8:hover,
a.glow_2_1_B:hover, a.glow_2_2_B:hover, a.glow_2_3_B:hover, a.glow_2_4_B:hover,
a.glow_3_1:hover, a.glow_3_2:hover, a.glow_3_3:hover, a.glow_3_4:hover, a.glow_3_5:hover, a.glow_3_6:hover, a.glow_3_7:hover, a.glow_3_8:hover,
a.glow_3_1_B:hover, a.glow_3_2_B:hover, a.glow_3_3_B:hover, a.glow_3_4_B:hover{
    color: black;
    text-decoration: none;
	-webkit-stroke-width: 3.75vmax;
    -webkit-stroke-color: #000000;
    -webkit-fill-color: #000000;
    text-shadow: 0px 0px 10px #000000;
    cursor: pointer;
}


#post_1_content, #post_3_content, #post_4_content, #post_5_content, #post_6_content, #post_7_content, #post_8_content, #post_1_B_content, #post_2_B_content, #post_3_B_content, #post_4_B_content {
    display: none;
    width: 60%;
    padding-top: 0%;
    font-family: 'NHaasGrotesk-Roman';
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 2.8vh; 
    align-items: flex-start;
}
#post_1_content{
    
    flex-direction: row;
    
}

#post_2_content {
    display: none;
    width: 102%;
    padding-top: 0%;
    font-family: 'NHaasGrotesk-Roman';
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 2.8vh;  
}

.post_1_subtitle, .post_2_subtitle, .post_3_subtitle, .post_4_subtitle, .post_5_subtitle, .post_6_subtitle, .post_7_subtitle, .post_8_subtitle{
    font-family: 'NHaasGrotesk-Roman';
    font-size: 0.8em;
    margin-left: 0.2vw;
    top:0;
    line-height: 0em;
    margin-bottom: 5%;
}

.post_1_subtitle_guest {
    font-family: 'NHaasGrotesk-Roman';
    font-size: 1.2em;
    margin-left: 0.2vw;
    top:0;
    line-height: 0em;
    margin-bottom: 8%;
   
}
#filler{
    height: 20vh; 
    width: 100%; 
    background-color: aquamarine; 
    opacity: 0%; 
    display: block;
}


#part_1{
     top: -8vh; 
    position: absolute; 
    font-family: 'NHaasGrotesk-Medium'; 
    font-weight: 500; 
    font-size: 2.5vh; 
    margin-top: 2vh; 
    display: flex; 
    text-align: right;  
    float: right;
    justify-content: flex-end; 
    margin-left: 53vw;
}
#part_2{
    position: absolute; 
    margin-left: 53vw; 
    font-family: 'NHaasGrotesk-Medium';
    font-weight: 500; 
    font-size: 2.5vh; 
    margin-top: 2vh; 
    display: flex;
    flex-direction: column;
}
.out{
    font-family: 'NHaasGrotesk-Medium'; 
    margin-top: 2vh; 
    margin-left: 1vw; 
    position: absolute;
    font-weight: 500; 
    font-size: 2.5vh;
    padding-bottom: 0;
}



.container_images{
    width: 98vw;      
}

.container_images_vimeo{
    width: 98vw ;
    margin-left: -14vw;      
}
.container_vimeo{
    width: 58vw ;     
}

.image_text_cont{
    display: flex;
    flex-direction: row;
}
.image_text_cont2{
    display: flex;
    flex-direction: column;
    margin-right: 8vw;
}
.images_group{
    background-color: #ffff00;  
}
.img_text{
    width: 59%;
}

.img_text_2{
    font-size: 0.8em;
    width: 39%;
    float: right;
    top:0;
    right: 0;
    position: relative;
}
.img_text_3{
    font-size: 0.8em;
    width: 31%;
    float: right;
    top:0;
    right: 0;
    position: relative;
    margin-left: 3vw;

}

.notes{
    font-size: 1.9vh;
    font-family: 'NHaasGrotesk-Roman';
    line-height: 2.2vh;
    position: relative;
}


.img_post_1{
    cursor: url("zoom.png"), pointer;
    width: 100%;
}

/*sofia*/
.img_post_2{
    cursor: url("zoom.png"), pointer;
    width: 58%;
    height: 100%;
    display: block;
}

.img_post_2_center {
    cursor: url("zoom.png"), pointer;
    width: 40%;
    margin-left: 30%;
}

/*bea*/
.img_post_3{
    cursor: url("zoom.png"), pointer;
    width: 45vh;
    float: right;
    margin-right: 5%;
    
}
.img_post_4{
    cursor: url("zoom.png"), pointer;
    width: 32%;
    float: right;
    margin-right: 1%;
    
}
.img_post_5{
    cursor: url("zoom.png"), pointer;
    width: 6%;
    float: left;
}
.img_post_6{
    cursor: url("zoom.png"), pointer;
    mix-blend-mode: multiply;
    width: 10vw;
    float: right;
    margin-right: 10%;
    
}

a.hyperlinks {
    color: black;
    text-decoration: underline;
}

a.hyperlinks:visited {
    color: black;
    text-decoration: underline;
}

a.hyperlinks:hover {
    color: black;
    text-decoration: none;
}

#text_pt{
    display: none;
}
#text_eng{
    
    display: block;
}
#text_pt_link{
    text-decoration: none;
    font-family:'NHaasGrotesk-Roman';
    cursor: pointer;
    
    font-size: 1em;
    
}


#text_eng_link{
    font-family:'NHaasGrotesk-Medium';
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    margin-left: 0.2vw;
    margin-right: 1vw;
}

#text_eng_link:hover{
    text-shadow:0px 0px 10px #000000;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#text_pt_link:hover{
    text-shadow:0px 0px 10px #000000;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* RIGHT SIDE */

#right_side {
    background-color: #3e4a9a;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    -webkit-transition: 1s ;
    -moz-transition: 1s ;
    -ms-transition: 1s ;
    -o-transition: 1s ;
    transition: 1s ;
    position: fixed;
    top: 0;
    margin-left: 60%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#right_side::-webkit-scrollbar {
  display: none;
}

#right_side_5 {
    background-color: #4c4d4c;
    width: 8vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    -webkit-transition: 1s ;
    -moz-transition: 1s ;
    -ms-transition: 1s ;
    -o-transition: 1s ;
    transition: 1s ;
    position: fixed;
    top: 0;
    margin-left: 92%;
    -ms-overflow-style: none;
}

#right_side_5::-webkit-scrollbar {
  display: none;
}



#editorial { 
    width: 93%;
    height: auto;
    margin-top: 32vh;
    display: flex;
    flex-direction: column;
    font-family: 'NHaasGrotesk-Roman';
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 2.5vh;
    display: block;
    -ms-overflow-style: none;
}
#editorial::-webkit-scrollbar {
  display: none;
}
#about {
    width: 93%;
    height: auto;
    margin-top: 32vh;
    display: flex;
    flex-direction: column;
    font-family: 'NHaasGrotesk-Roman';
    font-weight: 400;
    letter-spacing: 0.05em;
    font-size: 2.5vh;
    display: none;
    -ms-overflow-style: none;
}
#about::-webkit-scrollbar {
  display: none;
}
.email{
    text-decoration: none;
    font-family: 'NHaasGrotesk-Medium';
    font-weight: 500;
    color: black
}
.email:hover{
    color: black;
    text-decoration: none;
    -webkit-stroke-width: 3.75vmax;
    -webkit-stroke-color: black;
    -webkit-fill-color: black;
    text-shadow: 0px 0px 10px black;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

/* FOOTER */

.hiatus{
    display: block;
    width: 6vw;
    bottom: 0;
    height: auto;
    position: absolute;
    animation-name: anime;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

@keyframes anime {
  0% {transform: rotate3d(0, 1, 0, 0deg);}
  50% {transform: rotate3d(0, 1, 0, 180deg);}
  100% {transform: rotate3d(0, 1, 0, 360deg);}
}

#hiatus{
    display: block;
    width: 6vw;
    height: auto;
    opacity: 0.99;
    z-index: 6;
    bottom: 2vh;
    right: 1vw;
    position: fixed;
}



#hiatus:hover {
    -webkit-filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 1));
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 1));
    transition: all 0.2s ease-in;
    transition: 0.2s;
    cursor: pointer;
}

/* IMAGE GALLERY */

#gallery_background{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 3;
    overflow: auto;
}
#gallery_backg{
    background-color: rgba(0,0,0,.85);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: auto;
}
#backg{
    width: 47%;
    height: auto;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
}

.img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 3vh;
}


p.caption {
    color: rgba(200, 200, 200);
    font-family: 'NHaasGrotesk-Roman';
    font-size: 0.8em;
    right: 0;
    margin-right: 2vw;
    bottom: 0.8vw;
    position: fixed;
}

button{
      color: rgba(200, 200, 200);
      background: transparent;
      width: auto;
      height: auto;
      position: absolute;
      font-size: 1.5em;
      cursor: pointer;
      border: 0;
      outline: 0;
      padding: 0;
      margin: 0; 
}

p.close {
    font-size: 1em;
    float: left;
    position: fixed;
    top:0;
    left: 2vw;
    margin-top: 2vh;
    text-align: left;
}

#left {
    position: fixed;
    width: 2vw;
    height: auto;
    left: 2vw;
    top: 50%;
    transform: translate(-50%,);
}

p.left{
    margin: 0;
    top:0;
    left:0;
    font-size: 1em;
    position: relative;
    float: left;
    display: block;
}

#right{
    position: fixed;
    width: 2vw;
    height: auto;
    right: 2vw;
    top: 50%;
    transform: translate(-50%,);
}

p.right {
    margin: 0;
    top:0;
    right: 0;
    font-size: 1em;
    position: relative;
    display: block;
    float: right;
}

#numb {
    position: fixed;
    float: right;
    right: 2vw;
    top: 1vh;
}

p.numbers {
    color: rgba(200, 200, 200);
    font-family: 'NHaasGrotesk-Roman';
    font-size: 1em;
    position: relative;
    text-align: right;
    display: block;
}

/* ABOUT US */

#about_us_logo {
    background-color: rgba(200,200,200);
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    display: none;
    position: fixed;
    z-index: 5;
}

#about_text {
    display: block;
    position: absolute;
    line-height: 3.7vh;
    float: left;
    top: 2.5vh;
    left: 0vh;
    width: 60vw;
    height: 100vh;
    overflow: auto;
}

#contact_links {
    display: block;
    position: relative;
    float: right;
    top: 2.5vh;
    right: 0vh;
    width: 40vw;
    height: 100vh;
}

#close_about {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-top: -0.5vw;
    margin-right: 1vw;
    float: right;
    display: block;
    font-size: 2em;
}

#close_about:hover{
    text-shadow:0px 0px 10px #000000;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

#image_about {
    background-color: black;
    margin-top: 4vh;
    margin-left: 2vw;
    width: 36vw;
    height: 60vh;
}

p.about_text {
    font-size: 3vh;
    width: 57vw;
    margin-top: 0;
    margin-left: 1vw;
}

#hiatus_about_mobile {
    display: none;
}



/*---------------------------------mobile----------------------------------*/

@media only screen and (max-width: 1023px)   {

    
    /* HEADER */
.header_m {
    width: 100%;
    margin-left: 0%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    margin-top: 1%;
    position: fixed;font-family: 'NHaasGrotesk-Medium';
    font-weight: 500;
}

.header{
        display: none;
    }

    /* RIFE LOGOTIPO */
.rife {
    width: 80vw;
    margin-right: 7vw;
    margin-left: 13vw;
    margin-top: 3vh;
    position: fixed;
    z-index: 0;
    mix-blend-mode: multiply;
}

.rife2 {
    width: 95vw;
    margin-right: 0vw;
    margin-left: 3vw;
    margin-top: 3vh;
    position: fixed;
    z-index: 0;
    mix-blend-mode: multiply;
}

.rife3 {
    width: 80vw;
    margin-right: 0vw;
    margin-left: 9vw;
    margin-top: 3vh;
    position: fixed;
    z-index: 0;
    mix-blend-mode: multiply;
}

.rife4 {
    width: 86vw;
    margin-right: 0vw;
    margin-left: 7vw;
    margin-top: 5vh;
    position: fixed;
    z-index: 0;
    mix-blend-mode: multiply;
}
    
    
.rife5 {
    display: none;
    width: 86vw;
    margin-right: 0vw;
    margin-left: 7vw;
    margin-top: 5vh;
    position: fixed;
    z-index: 1;
    mix-blend-mode: multiply;
}
.rife5m {
    display: block;
    width: 86vw;
    margin-right: 0vw;
    margin-left: 7vw;
    margin-top: 5vh;
    position: fixed;
    z-index: 1;
    mix-blend-mode: multiply;
}
.rife6 {
    display: block;
    cursor: default;
    width: 86vw;
    margin-right: 0vw;
    margin-top: 6vh;
    margin-left: 7vw;
    position: fixed;
    z-index: 1;
    mix-blend-mode: multiply;
}


div#arrow {
    width: auto; 
    height: auto; 
    position: relative; 
    right: 0;
    display: block;
}

img.arrow{
    position: relative; 
    width: 3vh; 
    margin-bottom: 1vh;
    float: right; 
    height: auto;
    display: block;
}
    
    /* MENÚ SUBTITULO + BOTÃO EDITORIAL + BOTÃO ABOUT */
.subtitle_buttons_m {
    width: 93%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
}

.subtitle_m, .buttons_m {
    width: auto;
}

.subtitle_m {
    width: 100%;
    height: 6.5vh;
    font-size: 3.5vh;
    margin-bottom: 0%;
    margin-top: 1.5vh;
    display: block;
}

.buttons_m {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    float: right;
    font-size: 2.7vh;   
}

.editorial_button_m, .about_button_m {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-right: 5vw;
}

.editorial_button_m:hover, .about_button_m:hover {
  text-shadow:0px 0px 10px #000000;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
    #blue_bar{
        background-color: #3e4a9a;
        height: 11vh;
        width: 100vw;
        position: fixed;
        bottom: -1%;
        left: 0;
        display:block;
        padding-left: 3.5%;
        padding-top: 1vh;
        font-family: 'NHaasGrotesk-Medium';
        font-weight: 500;     
    }
    
    /* CONTENT */
    .content {  
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

#content_2 {
    position: fixed;
/*    margin-top: 82vh;*/
    display: flex;
    width: 100vw;
    -webkit-box-shadow: 15px 14px 20px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 15px 14px 20px -2px rgba(0,0,0,0.75);
box-shadow: 0px -20px 30px -2px rgba(0,0,0,0.50);
    
    
} 

p.layout_2 {
   width: 97vw;
}
    p.layout_3 {
    width: 97vw;
}

    /* LEFT SIDE */
#background{
    z-index: -1;
    width: 100%;
    height: 100vh;
    display: block;
    background-image:url(images/issues/innermostissue.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
}
#background_5{
    z-index: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200vh;
    position: absolute;
    transition: 1s;
    display: grid;
    grid-template-columns: auto;
}
#background_2{
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
/*    background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    opacity: 95%;
    transition: 1s;
}
.preview_text {
    line-height: 120%;
    
    font-size: 6vw;
    margin-bottom: 10vh;
}

#preview_text_name{
    line-height: 230%;
    font-size: 5vw
}
#left_side {
    width: 100vw;
    height: 100%;
   
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    }
#left_side2 {
    width: 100vw;
    height: 100%;
   
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    }

#menu_issues {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 47%;
    margin-left: 15%;
    font-size: 2.5vh;
    text-decoration: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-family: 'NHaasGrotesk-Medium';
    font-weight: 500;
}

#menu_back, #menu_back_5 {
    width: 40%;
    display: none;
    flex-direction: row;
    margin-top: 47%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 2.5vh;
    text-decoration: none;
    position: fixed;
    text-align: center;
    font-family: 'NHaasGrotesk-Medium';
    font-weight: 500;
    
}
    .issue{
    text-decoration: none;
    margin-right: 5%;
    
}
    a.issues, a.back {
    text-decoration: none;
    margin-right: 5%;
    color: black;
}
    a.issue_3{
        text-decoration: line-through;
        margin-right: 0%;
    }

.menu_posts {
    width: 100%;
    height: auto;
    margin-top: 35vh;
    margin-bottom: 9vh;
    font-weight: normal;
    text-shadow: 0px 0px 0px ;
    font-family: 'Cinzel';
    font-style: normal;
}

.menu_posts_guest {
    width: 100%;
    height: auto;
    margin-top: 77vh;
    margin-bottom: 9vh;
    font-weight: normal;
    text-shadow: 0px 0px 0px ;
    font-family: 'Cinzel';
    font-style: normal;
}

.menu_posts_guest4 {
    width: 100%;
    height: auto;
    margin-top: 56vh;
    line-height: 3vh;
    margin-bottom: 9vh;
    font-weight: normal;
    text-shadow: 0px 0px 0px ;
    font-family: 'Cinzel';
    font-style: normal;
}

#post_1, #post_2, #post_3, #post_4, #post_5, #post_6, #post_7, #post_8, #post_9, #post_10, #post_1_B, #post_2_B, #post_3_B, #post_4_B{
    width: 96%;
    height: auto;
    font-family: 'Cinzel', serif;
    text-decoration: none;
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10vw;
    display: block;
    align-items: flex-start;
    font-weight: normal;
    text-shadow: 0px 0px 0px ;
    font-family: 'Cinzel';
    font-style: normal;
    
}

.title_date_1, .title_date_2, .title_date_3, .title_date_4, .title_date_5, .title_date_6, .title_date_1_B, .title_date_2_B, .title_date_3_B, .title_date_4_B{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
        font-weight: normal;
        text-shadow: 0px 0px 0px ;
        font-family: 'Cinzel';
        font-style: normal;

}

a#post_1_link, a#post_2_link, a#post_3_link, a#post_4_link, a#post_5_link, a#post_6_link, a#post_7_link, a#post_8_link,
a#post_9_link, a#post_10_link, a#post_1_B_link, a#post_2_B_link, a#post_3_B_link, a#post_4_B_link{
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in;
    font-size: 5vh;
    font-weight: normal;
    text-shadow: 0px 0px 0px ;
    font-family: 'Cinzel';
    font-style: normal;
       
}
#post_1_link, #post_2_link, #post_3_link, #post_4_link, #post_5_link, #post_6_link, #post_7_link, #post_8_link, #post_1_B-link, #post_2_B_link, #post_3_B_link, #post_4_B_link{
    width: 80%;
    line-height: 105%;
    cursor: pointer;
    font-size: 8.5vw;
    font-weight: normal;
    text-shadow: 0px 0px 0px ;
    font-family: 'Cinzel';
    font-style: normal;      
}

a.post_1_link_4 {
    line-height: 5.5vh;
}

#coconat {
    width: 80%;
    line-height: 105%;
    cursor: pointer;
    font-size: 8.5vw;
    font-weight: normal;
    text-shadow: 0px 0px 0px ;
    font-family: 'Coconat';
    font-style: normal;      
}

.title_date_1:hover a#post_1_link, .title_date_1:hover, .title_date_2:hover a#post_2_link, .title_date_2:hover, .title_date_3:hover a#post_3_link, .title_date_3:hover, .title_date_4:hover a#post_4_link, .title_date_4:hover, .title_date_5:hover a#post_5_link, .title_date_5:hover, a#post_6_link, .title_date_6:hover, .title_date_1_B:hover a#post_1_B_link, .title_date_1_B:hover, .title_date_2_B:hover a#post_2_B_link, .title_date_2_B:hover, .title_date_3_B:hover a#post_3_B_link, .title_date_3_B:hover, .title_date_4_B:hover a#post_4_B_link, .title_date_4_B:hover, {
    color: black;
    text-decoration: none;
	-webkit-stroke-width: 0vmax;
    -webkit-stroke-color: black;
    -webkit-fill-color: black;
    text-shadow: 0px 0px 0px ;
    font-weight: normal;
    font-style: normal;
}

#post_1_content, #post_2_content, #post_3_content, #post_4_content, #post_5_content, #post_6_content, #post_7_content, #post_8_content, #post_1_B_content, #post_2_B_content, #post_3_B_content, #post_4_B_content {
    display: none;
    width: 100%;
    font-family: 'NHaasGrotesk-Roman';
    font-weight: 400;
    font-size: 2vh;
    margin-top: 5%;    
}

.post_1_subtitle, .post_2_subtitle, .post_3_subtitle, .post_4_subtitle, .post_5_subtitle, .post_6_subtitle, .post_1_B_subtitle, .post_2_B_subtitle, .post_3_B_subtitle, .post_4_B_subtitle{
    font-family: 'NHaasGrotesk-Roman';
    margin-top: -2%;
    margin-bottom: 10%;
}

.post_1_subtitle_guest{
    font-family: 'NHaasGrotesk-Roman';
    font-size: 2.5vh;
    margin-left: 0.2vw;
    top: 0;
    line-height: 0em;
}
#filler{
      height: 5vh; 
    }
#part_1{
     top: -8vh; 
    position: absolute;  
    font-family: 'NHaasGrotesk-Medium'; 
    font-weight: 500; 
    font-size: 2.5vh; 
    margin-top: 2vh; 
    display: flex; 
    text-align: right;  
    float: right;
    justify-content: flex-end; 
    margin-left: 77vw
}
#part_2{
    position: absolute; 
    margin-left: 77vw; 
    font-family: 'NHaasGrotesk-Medium';
    font-weight: 500; 
    font-size: 2.5vh; 
    margin-top: 2vh; 
    display: flex;
    flex-direction: column;
}

.out{
}
    
.container_images{
    width: 100%;   
}

.container_images_vimeo{
    width: 98vw;
    margin-left: -14vw;      
}
.container_vimeo{
    width: 96vw ;     
}
.image_text_cont{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.img_text{
    width: 100%;
}
.img_post_1{
    width: 96vw;
    float: none;
    margin-right: 0%;
}
.img_text_2{
    font-size: 2vh;
    width: 95vw;
    position: relative;
    margin-left: 1vw;
    margin-right:1vw;
    float: left;
}
.img_text_3{
    font-size: 2vh;
    width: 95vw;
    float: left;
    top:0;
    right: 0;
    position: relative;
    margin-left: 1vw;
    margin-right: 1vw;

}

/*.notes{
    font-size: 1.9vh;
    font-family: 'NHaasGrotesk-Roman';
    position: relative;
}*/

.img_post_2, .img_post_2_center{
    cursor: url("zoom.png"), pointer;
    width: 96vw;
    margin-left: 0;
}
    
    .img_post_4{
    width: 100%;
    float: none;
    margin-right: 0%;  
}
    .img_post_3{ 
    width: 100%;
    float: none;
    margin-right: 0%;  
}
    .img_post_5{
    width: 100%;
    float: none;
    margin-right: 0%;  
}

    .img_post_6{
    width: 100%;
    float: none;
    margin-right: 0%;
    
}

    .notes{
    margin-top: 7vh;
    font-size: 01.5vh;
}

a.hyperlinks {
    color: black;
    text-decoration: underline;
}

a.hyperlinks:visited {
    color: black;
    text-decoration: underline;
}



    /* RIGHT SIDE */
    #right_side {
    z-index: 2;
    background-color: #3e4a9a;
    width: 100vw;
    height: 0vh;
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: fixed;
    margin-left: 0%;
   }     
    #right_side_5 {
        z-index: 2;
    background-color: #3e4a9a;
    width: 100vw;
    height: 0vh;
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: fixed;
    margin-left: 0%;

    }
    #editorial { 
    width: 93%;
    height: auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    display: block;
}

#about {
    width: 93%;
    height: auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    display: none;
}
    /* FOOTER */

    
    
.hiatus{
    display: none;
    width: 21vw;
    bottom: 0;
    height: auto;
    
}

#hiatus{
    
    display: block;
    width: 21vw;
    height: auto;
    
    
    bottom: 1vh;
    right: 2vw;
    
}

/* ABOUT US */

#about_us_logo {
    background-color: rgba(200,200,200);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: none;
    position: fixed;
    z-index: 3;
}

#about_text {
    display: block;
    position: relative;
    padding-top: 2vh;
    top: 2.5vh;
    left: 0vh;
    width: 100vw;
    height: auto;
}

#contact_links {
    display: block;
    position: relative;
    top: 2.5vh;
    left: 0.5vh;
    width: 100vw;
    height: auto;
    padding-bottom: 3vh;
}

#close_about {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-top: -1.5vh;
    margin-right: 2.9vw;
    right: 1vw;
    float: right;
    display: block;
    font-size: 6em;
    position: fixed
}

#image_about {
    background-color: black;
    margin-top: 4vh;
    margin-left: 2vw;
    width: 94vw;
    height: 60vh;
}

p.about_text {
    font-size: 3vh;
    width: 90vw;
    height: auto;
    margin-top: 0;
    margin-left: 3vw;
    line-height: 3.7vh;
}

#hiatus_about_mobile {
    display: none;
    width:auto;
    height: 8vh;
    z-index: 3;
    right: 2%;
    bottom: 1%;
    position: fixed;
}
    
    
    
    
    
/*open call*/

#open_call{
    
    height: 75%;
    width: 85vw;
    margin-top: 12%;
    margin-left: 7.5vw;
    
    
   
    
}

#close_call{
    
    margin-top: 0vh;
    margin-right: 10vw;
    font-size: 6em;
    z-index: 10;
    
}





#submit{
    
    width: 50%;
    font-size: 6vw;
    bottom: 2vh;
   
    margin-left: 25%;
    margin-right: 25%;
    
}






.call_title{
    font-size: 9vw;
    line-height: 9vw;
}
.call_subtitle{
    font-size: 4vw;
    line-height: 8vw;
}

    .words{
    width: 60vw;
        margin-top: 1vh;
}

#arrow_call{
    width: 8vw;
    right: 2vw;
    bottom: 3vw;
    
}
img.arrow_call{
    width: 100%; 
}

.call_screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 80vh;
    width: 85vw;
    
   
    
}
.info_screen{
    width: 85vw;
    margin: 0;
    
}



.text_screen{
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5vh;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 2.5vh; 
    line-height: 3.2vh;
    
    
    
}
    .text_minor{
    font-family: 'NHaasGrotesk-Roman';
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 1.6vh; 
    line-height: 2.2vh;
        margin-bottom: 15vh;
}