/* FONTS */
@font-face{
    font-family: 'NHaasGrotesk-Roman';
    src: url('fonts/NHaasGrotesk-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;   
}

@font-face{
    font-family: 'NHaasGrotesk-Medium';
    src: url('fonts/NHaas-Grotesk-Text-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: 'Cinzel';
    src: url('fonts/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
   font-family: 'Coconat';
    src: url('fonts/Coconat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

body {
    background-color: rgba(200, 200, 200);
    font-family:'NHaasGrotesk-Roman';
    margin: 0;
    display: flex;
    flex-direction: column;
    text-shadow: 0px 0px 0px ;  
    overflow-x: hidden;
}

/* HEADER */

.header {
    width: 40%;
    margin-left: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    z-index: 1;
    margin-top: 1%;
    position: fixed;
    font-weight: 500;
    font-family:'NHaasGrotesk-Medium';
}
.header_m {
    font-family: 'NHaasGrotesk-Medium';
    display: none;
}

/* RIFE LOGOTIPO */

.rife {
    cursor: pointer;
    width: 28vw;
    margin-right: 34vw;
    margin-left: 38vw;
    position: fixed;
    z-index: 1;
    mix-blend-mode: multiply;
}

.rife2 {
    cursor: pointer;
    width: 40vw;
    margin-right: 30vw;
    margin-left: 30vw;
    position: fixed;
    z-index: 1;
    mix-blend-mode: multiply;
}

/* MENÚ SUBTITULO + BOTÃO EDITORIAL + BOTÃO ABOUT */

.subtitle_buttons {
    width: auto;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   
}

.subtitle, .buttons {
    width: auto;
}

.subtitle {
    text-align: right;
    font-size: 3vh;
    margin-bottom: 2%;
    margin-right: 1vw;
}
.subtitle_m {
    display: none;
}

.buttons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    float: right;
    font-size: 2.5vh;   
}

#editorial_button, #editorial_button_2, #about_button, #about_button_2, #close_button {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-right: 1vw;
}

#editorial_button, #about_button{
    display: flex;
}
#editorial_button_2, #about_button_2, #close_button{
    display: none;
}

#editorial_button:hover, #editorial_button_2:hover, #about_button:hover, #about_button_2:hover, #close_button:hover {
  text-shadow:0px 0px 10px #000000;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.blue_bar{
        background-color: #3e4a9a;
        height: 0vh;
        width: 0vw;
        position: fixed;
        margin-top: 92vh;
        display: none;
    }


/* CONTENT */

.content {
    
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;  
}

/* LEFT SIDE */
#background{
    z-index: -1;
    width: 60%;
    height: 100vh;
    display: block;
    background-image:url(images/issues/innermostissue.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    opacity: 95%;
    transition: 1s;
}
#left_side {
    display: flex;
    width: 60%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
       
    
}

#menu_issues {
    width: 100%;
    display: block;
    flex-direction: row;
    margin-top: 1%;
    margin-left: 1vw;
    font-size: 2.5vh;
    text-decoration: none;
    position: fixed;
    font-family: 'NHaasGrotesk-Medium';
    font-weight: 500;
    
}


#menu_back {
    width: 100%;
    display: none;
    flex-direction: row;
    margin-top: 1%;
    margin-left: 1%;
    font-size: 2.5vh;
    text-decoration: none;
    position: fixed;
    font-family: 'NHaasGrotesk-Medium';
    font-weight: 500;      
}

.menu_posts {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
}


a.issues, a.back {
    text-decoration: none;
    margin-right: 0.75%;
    color: black;
}

a.issues:hover, a.back:hover {
    color: black;
    text-decoration: none;
	-webkit-stroke-width: 3.75vmax;
      -webkit-stroke-color: #000000;
      -webkit-fill-color: #000000;
      text-shadow: 0px 0px 8px #000000;
    transition: all 0.2s ease-in;
    cursor: pointer;
}


a.issue_3{
    text-decoration: line-through;
    cursor: default;
}


#post_1, #post_2, #post_3, #post_4, #post_5 {
    width: 96%;
    height: auto;
    font-family: 'Cinzel';
    font-weight: normal;
    font-style: normal;
    font-size: 3.3em;
    text-decoration: none;
    color: black;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 3%;
    display: block;
    align-items: flex-start;
}

.title_date_1, .title_date_2, .title_date_3, .title_date_4, .title_date_5{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

a#post_1_link, a#post_2_link, a#post_3_link, a#post_4_link, a#post_5_link {
    text-decoration: none;
    transition: all 0.2s ease-in;
    margin-top: 2%;     
}

#post_1_link, #post_2_link, #post_3_link, #post_4_link, #post_5_link {
    width: 80%;
    line-height: 96%;
    cursor: pointer;       
}

a.glow_1_1:hover, a.glow_1_2:hover, a.glow_1_3:hover, a.glow_1_4:hover, a.glow_1_5:hover, a.glow_2_1:hover, a.glow_2_2:hover, a.glow_2_3:hover, a.glow_2_4:hover, a.glow_2_5:hover{
    color: black;
    text-decoration: none;
	-webkit-stroke-width: 3.75vmax;
    -webkit-stroke-color: #000000;
    -webkit-fill-color: #000000;
    text-shadow: 0px 0px 10px #000000;
    cursor: pointer;
}


#post_1_content, #post_3_content, #post_4_content, #post_5_content {
    display: none;
    width: 60%;
    padding-top: 0%;
    font-family: 'NHaasGrotesk-Roman';
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 2.8vh;    
}

#post_2_content {
    display: none;
    width: 102%;
    padding-top: 0%;
    font-family: 'NHaasGrotesk-Roman';
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 2.8vh;  
}

.post_1_subtitle, .post_2_subtitle, .post_3_subtitle, .post_4_subtitle, .post_5_subtitle{
    font-family: 'NHaasGrotesk-Roman';
    font-size: 0.8em;
    margin-left: 0.2vw;
    top:0;
    line-height: 0em;
    margin-bottom: 5%;
}

.container_images{
    width: 98vw;      
}

.images_group{
    background-color: #ffff00;  
}
.img_text{
    width: 59%;
}

.img_text_2{
    font-size: 0.8em;
    width: 38%;
    float: right;
    right: 0;
    position: relative;
}

.notes{
    font-size: 1.9vh;
    font-family: 'NHaasGrotesk-Roman';
    line-height: 0em;
    position: relative;
}


.img_post_1{
    cursor: url("zoom.png"), pointer;
    width: 100%;
}

/*sofia*/
.img_post_2{
    cursor: url("zoom.png"), pointer;
    width: 58%;
}

/*bea*/
.img_post_3{
    cursor: url("zoom.png"), pointer;
    width: 45vh;
    float: right;
    margin-right: 5%;
    
}
.img_post_4{
    cursor: url("zoom.png"), pointer;
    width: 32%;
    float: right;
    margin-right: 1%;
    
}
.img_post_5{
    cursor: url("zoom.png"), pointer;
    width: 6%;
    float: left;
}

/* RIGHT SIDE */

#right_side {
    background-color: #3e4a9a;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    -webkit-transition: 1s ;
    -moz-transition: 1s ;
    -ms-transition: 1s ;
    -o-transition: 1s ;
    transition: 1s ;
    position: fixed;
    top: 0;
    margin-left: 60%;
    -ms-overflow-style: none;
}

#right_side::-webkit-scrollbar {
  display: none;
}



#editorial { 
    width: 93%;
    height: auto;
    margin-top: 32vh;
    display: flex;
    flex-direction: column;
    font-family: 'NHaasGrotesk-Roman';
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 2.5vh;
    display: block;
    -ms-overflow-style: none;
}
#editorial::-webkit-scrollbar {
  display: none;
}
#about {
    width: 93%;
    height: auto;
    margin-top: 32vh;
    display: flex;
    flex-direction: column;
    font-family: 'NHaasGrotesk-Roman';
    font-weight: 400;
    letter-spacing: 0.05em;
    font-size: 2.5vh;
    display: none;
    -ms-overflow-style: none;
}
#about::-webkit-scrollbar {
  display: none;
}
.email{
    text-decoration: none;
    font-family: 'NHaasGrotesk-Medium';
    font-weight: 500;
    color: black
}
.email:hover{
    color: black;
    text-decoration: none;
    -webkit-stroke-width: 3.75vmax;
    -webkit-stroke-color: black;
    -webkit-fill-color: black;
    text-shadow: 0px 0px 10px black;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

/* FOOTER */

.hiatus{
    width: 6vw;
    height: auto;
    z-index: 2;
    right: 1vh;
    bottom: 2vh;
    position: fixed;
    animation-name: anime;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

@keyframes anime {
  0% {transform: rotate3d(0, 1, 0, 0deg);}
  50% {transform: rotate3d(0, 1, 0, 180deg);}
  100% {transform: rotate3d(0, 1, 0, 360deg);}
}

#hiatus{
    width: 6vw;
    height: 17vh;
    opacity: 1;
    right: 0%;
    bottom: 0%;
    position: fixed;
/*    -webkit-filter: drop-shadow(0px 3px 5px rgba(255, 117, 43, 0));
    filter: drop-shadow(0px 3px 5px rgba(255, 117, 43, 0));
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-out;*/
}

a#hiatus:hover {
    -webkit-filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 1));
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 1));
    transition: all 0.2s ease-in;
    cursor: pointer;
}

/* IMAGE GALLERY */

#gallery_background{
    background-color: rgba(0,0,0,.85);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 3;
    overflow: auto;
}

#backg {
    width: 47%;
    height: auto;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
}

.img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 3vh;
}


p.caption {
    color: rgba(200, 200, 200);
    font-family: 'NHaasGrotesk-Roman';
    font-size: 0.8em;
    right: 0;
    margin-right: 2vw;
    bottom: 0.8vw;
    position: fixed;
}

button {
      color: rgba(200, 200, 200);
      background: transparent;
      width: auto;
      height: auto;
      position: absolute;
      font-size: 1.5em;
      cursor: pointer;
      border: 0;
      outline: 0;
      padding: 0;
      margin: 0; 
}

p.close {
    font-size: 1em;
    float: left;
    position: fixed;
    top:0;
    left: 2vw;
    margin-top: 2vh;
    text-align: left;
}

#left {
    position: fixed;
    width: 2vw;
    height: auto;
    left: 2vw;
    top: 50%;
    transform: translate(-50%,);
}

p.left {
    margin: 0;
    top:0;
    left:0;
    font-size: 1em;
    position: relative;
    float: left;
    display: block;
}

#right {
    position: fixed;
    width: 2vw;
    height: auto;
    right: 2vw;
    top: 50%;
    transform: translate(-50%,);
}

p.right {
    margin: 0;
    top:0;
    right: 0;
    font-size: 1em;
    position: relative;
    display: block;
    float: right;
}

#numb {
    position: fixed;
    float: right;
    right: 2vw;
    top: 1vh;
}

p.numbers {
    color: rgba(200, 200, 200);
    font-family: 'NHaasGrotesk-Roman';
    font-size: 1em;
    position: relative;
    text-align: right;
    display: block;
}

/* ABOUT US */

#about_us_logo {
    background-color: rgba(200,200,200);
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    display: none;
    position: fixed;
    z-index: 5;
}

#about_text {
    display: block;
    position: absolute;
    float: left;
    top: 3vh;
    left: 0vh;
    width: 60vw;
    height: 100vh;
    overflow: auto;
}

#contact_links {
    display: block;
    position: relative;
    float: right;
    top: 3vh;
    right: 0vh;
    width: 40vw;
    height: 100vh;
}

#close_about {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-top: -0.4vw;
    margin-right: 2vw;
    float: right;
    display: block;
    font-size: 2em;
}

#close_about:hover{
    text-shadow:0px 0px 10px #000000;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

#image_about {
    background-color: black;
    margin-top: 4vh;
    margin-left: 2vw;
    width: 36vw;
    height: 60vh;
}

p.about_text {
    font-size: 1.5em;
    width: 57vw;
    margin-top: 0;
    margin-left: 2vw;
}

#hiatus_about_mobile {
    display: none;
}


/*---------------------------------mobile----------------------------------*/

@media only screen and (max-width: 1023px)   {

    /* HEADER */
.header_m {
    width: 100%;
    margin-left: 0%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    margin-top: 1%;
    position: fixed;font-family: 'NHaasGrotesk-Medium';
    font-weight: 500;
}
.header{
        display: none;
    }

    /* RIFE LOGOTIPO */
    .rife {
    width: 80vw;
    margin-right: 7vw;
    margin-left: 13vw;
    margin-top: 3vh;
    position: fixed;
    z-index: 0;
    mix-blend-mode: multiply;
}

.rife2 {
    width: 95vw;
    margin-right: 0vw;
    margin-left: 3vw;
    margin-top: 3vh;
    position: fixed;
    z-index: 0;
    mix-blend-mode: multiply;
}
    
    /* MENÚ SUBTITULO + BOTÃO EDITORIAL + BOTÃO ABOUT */
.subtitle_buttons_m {
    width: 93%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
}

.subtitle_m, .buttons_m {
    width: auto;
}

.subtitle_m {
    width: 100%;
    height: 6.5vh;
    font-size: 3.5vh;
    margin-bottom: 0%;
    margin-top: 1.5vh;
    display: block;
}

.buttons_m {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    float: right;
    font-size: 2.7vh;   
}

.editorial_button_m, .about_button_m {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-right: 5vw;
}

.editorial_button_m:hover, .about_button_m:hover {
  text-shadow:0px 0px 10px #000000;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
    #blue_bar{
        background-color: #3e4a9a;
        height: 11vh;
        width: 100vw;
        position: fixed;
        bottom: -1%;
        left: 0;
        display:block;
        padding-left: 3.5%;
        padding-top: 1vh;
        font-family: 'NHaasGrotesk-Medium';
        font-weight: 500;     
    }
    
    /* CONTENT */
    .content {  
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

    /* LEFT SIDE */
#background{
    z-index: -1;
    width: 100%;
    height: 100vh;
    display: block;
    background-image:url(images/issues/innermostissue.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
}
    
#left_side {
    width: 100vw;
    height: 100%;
   
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    }

#menu_issues {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 47%;
    margin-left: 15%;
    font-size: 2.5vh;
    text-decoration: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-family: 'NHaasGrotesk-Medium';
    font-weight: 500;
}

#menu_back {
    width: 40%;
    display: none;
    flex-direction: row;
    margin-top: 47%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 2.5vh;
    text-decoration: none;
    position: fixed;
    text-align: center;
    font-family: 'NHaasGrotesk-Medium';
    font-weight: 500;
    
}
    a.issues, a.back {
    text-decoration: none;
    margin-right: 5%;
    color: black;
}
    a.issue_3{
        text-decoration: line-through;
        margin-right: 0%;
    }

.menu_posts {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 35vh;
    margin-bottom: 9vh;
    font-weight: normal;
    text-shadow: 0px 0px 0px ;
    font-family: 'Cinzel';
    font-style: normal;
}

#post_1, #post_2, #post_3, #post_4, #post_5 {
    width: 96%;
    height: auto;
    font-family: 'Cinzel', serif;
    font-size: 5vh;
    text-decoration: none;
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10vw;
    display: block;
    align-items: flex-start;
        font-weight: normal;
        text-shadow: 0px 0px 0px ;
        font-family: 'Cinzel';
        font-style: normal;
    
}

.title_date_1, .title_date_2, .title_date_3, .title_date_4, .title_date_5{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
        font-weight: normal;
        text-shadow: 0px 0px 0px ;
        font-family: 'Cinzel';
        font-style: normal;

}

a#post_1_link, a#post_2_link, a#post_3_link, a#post_4_link, a#post_5_link {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in;
    font-weight: normal;
    text-shadow: 0px 0px 0px ;
    font-family: 'Cinzel';
    font-style: normal;
       
}
#post_1_link, #post_2_link, #post_3_link, #post_4_link, #post_5_link {
    width: 80%;
    line-height: 105%;
    cursor: pointer;
    font-size: 8.5vw;
    font-weight: normal;
    text-shadow: 0px 0px 0px ;
    font-family: 'Cinzel';
    font-style: normal;      
}

#coconat {
    width: 80%;
    line-height: 105%;
    cursor: pointer;
    font-size: 8.5vw;
    font-weight: normal;
    text-shadow: 0px 0px 0px ;
    font-family: 'Coconat';
    font-style: normal;      
}

.title_date_1:hover a#post_1_link, .title_date_1:hover, .title_date_2:hover a#post_2_link, .title_date_2:hover, .title_date_3:hover a#post_3_link, .title_date_3:hover, .title_date_4:hover a#post_4_link, .title_date_4:hover, .title_date_5:hover a#post_5_link, .title_date_5:hover {
    color: black;
    text-decoration: none;
	-webkit-stroke-width: 0vmax;
    -webkit-stroke-color: black;
    -webkit-fill-color: black;
    text-shadow: 0px 0px 0px ;
    font-weight: normal;
    font-style: normal;
}

#post_1_content, #post_2_content, #post_3_content, #post_4_content, #post_5_content {
    display: none;
    width: 100%;
    font-family: 'NHaasGrotesk-Roman';
    font-weight: 400;
    font-size: 2vh;
    margin-top: 5%;    
}

.post_1_subtitle, .post_2_subtitle, .post_3_subtitle, .post_4_subtitle, .post_5_subtitle{
    font-family: 'NHaasGrotesk-Roman';
    margin-top: 0%;
    margin-bottom: 10%;
}
.container_images{
    width: 100%;   
}
.img_text{
    width: 100%;
}
.img_post_1{
    width: 100%;
    float: none;
    margin-right: 0%;
}
.img_text_2{
    font-size: 2vh;
    width: 100%;
    position: relative;
}

.notes{
    font-size: 1.9vh;
    font-family: 'NHaasGrotesk-Roman';
    line-height: 0em;
    position: relative;
}

.img_post_2{
    cursor: url("zoom.png"), pointer;
    width: 100%;
}
    .img_post_3{
    width: 100%;
    float: none;
    margin-right: 0%;      
}
    .img_post_4{
    width: 100%;
    float: none;
    margin-right: 0%;  
}
    .img_post_3{ 
    width: 100%;
    float: none;
    margin-right: 0%;  
}
    .img_post_5{
    width: 100%;
    float: none;
    margin-right: 0%;  
}

    .notes{
    margin-top: 7vh;
    font-size: 01.5vh;
}

    /* RIGHT SIDE */
    #right_side {
    z-index: 2;
    background-color: #3e4a9a;
    width: 100vw;
    height: 0vh;
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: fixed;
    margin-left: 0%;
    
    }
    #editorial { 
    width: 93%;
    height: auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    display: block;
}

#about {
    width: 93%;
    height: auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    display: none;
}
    /* FOOTER */
.hiatus {
    width:auto;
    display: none;
    height: 8vh;
    z-index: 2;
    right: 2%;
    bottom: 1%;
    position: fixed;
}


/* ABOUT US */

#about_us_logo {
    background-color: rgba(200,200,200);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: none;
    position: fixed;
    z-index: 3;
}

#about_text {
    display: block;
    position: relative;
    padding-top: 2vh;
    top: 3vh;
    left: 0vh;
    width: 100vw;
    height: auto;
}

#contact_links {
    display: block;
    position: relative;
    top: 3vh;
    left: 0.5vh;
    width: 100vw;
    height: auto;
    padding-bottom: 3vh;
}

#close_about {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-top: -1vw;
    margin-right: 3vw;
    float: right;
    display: block;
    font-size: 2em;
}

#image_about {
    background-color: black;
    margin-top: 4vh;
    margin-left: 2vw;
    width: 94vw;
    height: 60vh;
}

p.about_text {
    font-size: 1em;
    width: 90vw;
    height: auto;
    margin-top: 0;
    margin-left: 3vw;
}

#hiatus_about_mobile {
    display: none;
    width:auto;
    height: 8vh;
    z-index: 3;
    right: 2%;
    bottom: 1%;
    position: fixed;
}
